<div class="well">lesson info</div>
<ul class="nav nav-tabs">
  <li class="<%= (action_name == "show" && controller == "lessons") ? "active" : "" %>"><%= link_to "Content", [@course, @lesson] %></li>
  <li class="<%= action_name == "videos" ? "active" : "" %>"><%= link_to "Videos", videos_course_lesson_path(@course, @lesson) %></li>
  <li class="<%= action_name == "documents" ? "active" : "" %>"><%= link_to "Documents", documents_course_lesson_path(@course, @lesson) %></li>
  <li class="<%= (action_name == "tests" || controller_name == "testings") ? "active" : "" %>"><%= link_to "Tests", tests_course_lesson_path(@course, @lesson) %></li>
</ul>
<%= content_for :sidebar do %>
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">
        Lessons
      </li>
      <% @course.lessons.each do |lesson| %>
        <li class="tab_link <%= "active" if lesson == @lesson %>"><%= link_to lesson.name, [@course, lesson] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="span8">
  <div class="lesson span7">
    <ul class="thumbnails">
      <% unless @question.nil? %>
        <%= @question.name %>
        <%= render @question.answers, :course => @course, :lesson => @lesson, :testing => @testing %>
      <% else %>
        No questions found
      <% end %>
    </ul>
  </div>
</div>