<div class="well">
  <h2><%= @course.name %></h2>
  <p><%= @course.description %></p>
  <p>Total time: <%= @course.total_time %></p>
  <p>
    <% if current_user && current_user.courses.include?(@course) %>
    <td><%= link_to "<i class='icon-remove'></i> Unsubscribe".html_safe, user_course_path(:id => @course), :class => "btn btn-danger", :method => :delete, :confirm => "Are you sure?" %></td>
  <% elsif current_user %>
    <td><%= link_to "<i class='icon-ok'></i> Subscribe".html_safe, user_courses_path(:id => @course), :class => "btn btn-success", :method => :post %></td>
  <% end %>
  </p>
</div>
<%= content_for :sidebar do %>
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">
        Lessons
      </li>
      <% @course.lessons.each do |lesson| %>
        <li class="tab_link"><%= link_to lesson.name, [@course, lesson] %></li>
      <% end %>
    </ul>
  </div>
<% end %>